{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Zarządzanie koszykiem zakupowym</h1>
    
    <p>
        <a href="{{ path('product_list') }}">Lista produktów</a>
    </p>
    
{% endblock %}
